<%= render 'shared/hotel_tabs' %>

<div id="content">	
	
	<div id="reservation-results">
	
		<div class="thetable">
			<table cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Reservado por</th>
						<th>Telefono</th>
						<th>Opciones</th>
					</tr>
				</thead>
                <tbody>
                <% @reservations.each do |reservation| %>
					<tr class="<%= cycle("first", "second") %>">
						<td><%= reservation.id  %></td>
						<td><%= link_to reservation.rate.room.hotel.name, reservation_path(reservation) %></td>
                        <td><%= "#{reservation.name} #{reservation.last_name}" %></td>
						<td><%= reservation.phone %></td>
						<td><%= link_to image_tag('delete-icon.png', :alt => 'Eliminar'), reservation_path(reservation), :confirm => "¿Estás seguro?", :method => :delete %></td>
					</tr>
                <% end %>
				</tbody>
			</table>
		</div><!--end thetable-->
	
		<div class="thetablepagination">
			<%= will_paginate(@reservations) %> 		
		</div><!--end thetablepagination-->
	
	</div><!--end hotel-resuelts-->
</div><!--end content-->
