<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<p>
  		<%= f.label 'Ciudad' %>
    	<%= f.text_field :city, :class => :input300 %>
  	</p>
  	<p>
    	<%= f.label 'Fecha de Salida' %>
    	<%= f.date_select :start_date %>
  	</p>
  	<p>
    	<%= f.label 'Fecha de Regreso' %>
    	<%= f.date_select :end_date %>
  	</p>
  	<p>
    	<%= f.label 'Numero de Habitaciones' %>
    	<%= f.text_field :rooms_number, :class => :input100 %>
  	</p>
	<p>
    	<%= f.label 'Numero de Personas' %>
    	<%= f.text_field :persons_number, :class => :input100 %>
  	</p>
  	<p>
    	<%= f.label 'Numero de Adultos' %>
    	<%= f.text_field :adults_number, :class => :input100 %>
  	</p>
	<p>
    	<%= f.label 'Numero de Menores' %>
    	<%= f.text_field :minors_number, :class => :input100 %>
  	</p>
	<p>
    	<%= f.label 'Edad de Menor' %>
    	<%= f.text_field :minors_ages, :class => :input100 %>
  	</p>
  	<p>
    	<%= f.submit 'Buscar', :class => :submit %>
  	</p>
<% end %>
