<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<p>
  		<%= f.label 'Ciudad' %>
    	<%= f.text_field :city, :class => :input300 %>
  	</p>
  	<p>
    	<%= f.label 'Fecha de Salida' %>
    	<%= f.date_select :start_date %>
  	</p>
  	<p>
    	<%= f.label 'Fecha de Regreso' %>
    	<%= f.date_select :end_date %>
  	</p>
  	<p>
    <%= link_to 'Agregar habitacion', '#', :id => 'add_room' %>
  	</p>
    <% @rooms = 0 %>
    <%= f.fields_for :room_searches do |r| %>
      <div class="room <%= @rooms == 0 ? 'first' : '' %>">
        <div style="float:left">
      	<%= r.label 'Numero de Adultos' %>
      	<%= r.select :adults_number, (0..4), :class => :input100 %>
        </div>
        <div style="float:left">
      	<%= r.label 'Numero de Menores' %>
        <%= r.select :minors_number, (0..2), {}, :class => 'minors' %>
        </div>
        <div style="float:left;display:none;" class="collapsable">
      	<%= r.label 'Edad de Menor' %>
        <%= r.select :minor1_age, (0..17) %>
        </div>
        <div style="float:left; display:none;" class="collapsable">
      	<%= r.label 'Edad de Menor' %>
        <%= r.select :minor2_age, (0..17) %>
        </div>
        <% if @rooms > 0 %>
          <div style="float:left">
            <%= link_to 'Remover habitacion', '#', :class => 'remove_room' %>
          </div>
      <% end %>
        <div style="clear:left;" ></div>
  	  </div>
      <% @rooms = @rooms + 1 %>
    <% end %>
  	<p>
    	<%= f.submit 'Buscar', :class => :submit %>
  	</p>
<% end %>

<script type="text/javascript">
  Search.setup();
</script>
